In [1]:
import pandas as pd

## Importing Data

In [164]:
def normalize_school_name(sch):
    to_fix = {
        'Southern Methodist': 'SMU',
        'Southern California': 'USC',
        'Pittsburgh': 'Pitt',
        'Pennsylvania': 'Penn',
        'Louisiana State': 'LSU',
        'North Carolina': 'UNC',
        'Nevada-Las Vegas': 'UNLV',
        'Virginia Commonwealth': 'VCU',
        "Saint Joseph's": "St. Joseph's",
        'Brigham Young': 'BYU',
        'UC Santa Barbara': 'UCSB',
        'East Tennessee State': 'ETSU',
        "Saint Mary's (CA)": "Saint Mary's",
        'Connecticut': 'UConn',
        'Southern Mississippi': 'Southern Miss',
        "Saint Peter's": "St. Peter's",
        "Massachusetts": 'UMass',
        "Long Island University": "LIU",
        'Mississippi': 'Ole Miss',
        'Illinois-Chicago': 'UIC',
        'Central Connecticut State': 'Central Connecticut',
        "Maryland-Baltimore County": "UMBC",
        'UC Irvine': 'UC-Irvine',
        "UC Davis": 'UC-Davis',
        "Southern Illinois-Edwardsville": 'SIU-Edwardsville',
        "UC San Diego": 'UC-San Diego',
        'IU Indy': 'IU Indianapolis'
    }

    if sch in to_fix:
        return to_fix[sch]

    return sch

### Tournament Data

In [165]:
tournament = pd.read_csv('data/tournaments.csv')
tournament.rename(columns={'rank': 'seed'}, inplace=True)
tournament.head()

   seed         school  year  champion
0     1     Georgetown  1985     False
1    16         Lehigh  1985     False
2     8         Temple  1985     False
3     9  Virginia Tech  1985     False
4     5            SMU  1985     False

### Seasons Data

In [166]:
seasons = pd.read_csv('data/seasons.csv')
seasons['school'] = seasons['school'].apply(lambda x: normalize_school_name(x))
seasons.head()

,year,conference,rank,school,overall_wins,overall_losses,overall_win_loss_percentage,conference_wins,conference_losses,conference_win_loss_percentage,own_points_per_game,opp_points_per_game,strength_of_schedule,simple_rating_system,ap_pre,ap_high,ap_final,conference_tournament_champion
0,1985,ACC,1.0,Georgia Tech,27.0,8.0,0.771,9.0,5.0,0.643,69.9,60.9,16.45,7.42,20.0,6.0,6.0,True
1,1985,ACC,2.0,UNC,27.0,9.0,0.750,9.0,5.0,0.643,73.1,65.9,15.33,8.13,NaN,5.0,7.0,False
2,1985,ACC,3.0,NC State,23.0,10.0,0.697,9.0,5.0,0.643,73.3,65.0,15.02,6.78,13.0,9.0,16.0,False
3,1985,ACC,4.0,Duke,23.0,8.0,0.742,8.0,6.0,0.571,78.9,67.9,18.38,7.38,6.0,2.0,10.0,False
4,1985,ACC,5.0,Maryland,25.0,12.0,0.676,8.0,6.0,0.571,70.8,65.3,13.92,8.47,NaN,17.0,NaN,False

### Player of the Year Data

In [167]:
poy = pd.read_csv('data/poy.csv')
poy['school'] = poy['school'].apply(lambda x: normalize_school_name(x))
poy.head()

   year          player    school
0  2025    Cooper Flagg      Duke
1  2024       Zach Edey    Purdue
2  2023       Zach Edey    Purdue
3  2022  Oscar Tshiebwe  Kentucky
4  2021      Luka Garza      Iowa

### Stat Leaders Data

In [168]:
pts = pd.read_csv('data/pts.csv')
pts['school'] = pts['school'].apply(lambda x: normalize_school_name(x))
pts_per_g = pd.read_csv('data/pts-per-g.csv')
pts_per_g['school'] = pts_per_g['school'].apply(lambda x: normalize_school_name(x))

trb = pd.read_csv('data/trb.csv')
trb['school'] = trb['school'].apply(lambda x: normalize_school_name(x))
trb_per_g = pd.read_csv('data/trb-per-g.csv')
trb_per_g['school'] = trb_per_g['school'].apply(lambda x: normalize_school_name(x))

ast = pd.read_csv('data/ast.csv')
ast['school'] = ast['school'].apply(lambda x: normalize_school_name(x))
ast_per_g = pd.read_csv('data/ast-per-g.csv')
ast_per_g['school'] = ast_per_g['school'].apply(lambda x: normalize_school_name(x))

stl = pd.read_csv('data/stl.csv')
stl['school'] = stl['school'].apply(lambda x: normalize_school_name(x))
stl_per_g = pd.read_csv('data/stl-per-g.csv')
stl_per_g['school'] = stl_per_g['school'].apply(lambda x: normalize_school_name(x))

blk = pd.read_csv('data/blk.csv')
blk['school'] = blk['school'].apply(lambda x: normalize_school_name(x))
blk_per_g = pd.read_csv('data/blk-per-g.csv')
blk_per_g['school'] = blk_per_g['school'].apply(lambda x: normalize_school_name(x))

## Data Merging

### Tournament and Season Data

In [169]:
final = pd.merge(tournament, seasons, on=['year', 'school'], how='left')
final.head()

,seed,school,year,champion,conference,rank,overall_wins,overall_losses,overall_win_loss_percentage,conference_wins,conference_losses,conference_win_loss_percentage,own_points_per_game,opp_points_per_game,strength_of_schedule,simple_rating_system,ap_pre,ap_high,ap_final,conference_tournament_champion
0,1,Georgetown,1985,False,Big East,2.0,35.0,3.0,0.921,14.0,2.0,0.875,74.0,58.9,20.89,5.77,1.0,1.0,1.0,True
1,16,Lehigh,1985,False,ECC,6.0,12.0,19.0,0.387,6.0,8.0,0.429,65.0,70.1,-12.02,-6.89,NaN,NaN,NaN,True
2,8,Temple,1985,False,A-10,2.0,25.0,6.0,0.806,15.0,3.0,0.833,64.8,57.8,7.67,0.67,NaN,NaN,NaN,True
3,9,Virginia Tech,1985,False,Metro,2.0,20.0,9.0,0.690,10.0,4.0,0.714,80.3,68.9,13.84,2.41,15.0,11.0,NaN,False
4,5,SMU,1985,False,SWC,2.0,23.0,10.0,0.697,10.0,6.0,0.625,75.7,67.4,11.58,3.33,10.0,2.0,NaN,False

In [170]:
poy_schools = set(zip(poy['year'], poy['school']))
final['poy'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in poy_schools else 0,
    axis=1
)

In [171]:
pts_schools = set(zip(pts['year'], pts['school']))
final['points'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in pts_schools else 0,
    axis=1
)

ppg_schools = set(zip(pts_per_g['year'], pts_per_g['school']))
final['points per game'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in ppg_schools else 0,
    axis=1
)

trb_schools = set(zip(trb['year'], trb['school']))
final['rebounds'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in trb_schools else 0,
    axis=1
)

rpg_schools = set(zip(trb_per_g['year'], trb_per_g['school']))
final['rebounds per game'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in rpg_schools else 0,
    axis=1
)

stl_schools = set(zip(stl['year'], stl['school']))
final['steals'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in stl_schools else 0,
    axis=1
)

spg_schools = set(zip(stl_per_g['year'], stl_per_g['school']))
final['steals per game'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in spg_schools else 0,
    axis=1
)

ast_schools = set(zip(ast['year'], ast['school']))
final['assists'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in ast_schools else 0,
    axis=1
)

apg_schools = set(zip(ast_per_g['year'], ast_per_g['school']))
final['assists per game'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in apg_schools else 0,
    axis=1
)

blk_schools = set(zip(blk['year'], blk['school']))
final['blocks'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in blk_schools else 0,
    axis=1
)

bpg_schools = set(zip(blk_per_g['year'], blk_per_g['school']))
final['blocks per game'] = final.apply(
    lambda row: 1 if (row['year'], row['school']) in bpg_schools else 0,
    axis=1
)

In [172]:
final.head()

,seed,school,year,champion,conference,rank,overall_wins,overall_losses,overall_win_loss_percentage,conference_wins,...,points,points per game,rebounds,rebounds per game,steals,steals per game,assists,assists per game,blocks,blocks per game
0,1,Georgetown,1985,False,Big East,2.0,35.0,3.0,0.921,14.0,...,0,0,0,0,0,0,0,0,1,0
1,16,Lehigh,1985,False,ECC,6.0,12.0,19.0,0.387,6.0,...,0,0,0,0,0,0,0,0,0,0
2,8,Temple,1985,False,A-10,2.0,25.0,6.0,0.806,15.0,...,0,0,0,0,0,0,0,0,0,0
3,9,Virginia Tech,1985,False,Metro,2.0,20.0,9.0,0.690,10.0,...,0,0,0,0,0,0,0,0,0,0
4,5,SMU,1985,False,SWC,2.0,23.0,10.0,0.697,10.0,...,0,0,0,0,0,0,0,0,0,0

### Dealing with Missing Values

In [173]:
final.isna().sum()[final.isna().sum() != 0]

conference_wins                     14
conference_losses                   14
conference_win_loss_percentage      14
ap_pre                            1732
ap_high                           1104
ap_final                          1592
dtype: int64

In [174]:
final.loc[final['ap_pre'].isna(), 'ap_pre'] = 26
final.loc[final['ap_high'].isna(), 'ap_high'] = 26
final.loc[final['ap_final'].isna(), 'ap_final'] = 26

In [175]:
final.dropna(subset=['conference_wins'], inplace=True)

In [176]:
final.isna().sum()[final.isna().sum() != 0]

Series([], dtype: int64)

In [181]:
final.dtypes

seed                                int64
school                             object
year                                int64
champion                             bool
conference                         object
rank                              float64
overall_wins                      float64
overall_losses                    float64
overall_win_loss_percentage       float64
conference_wins                   float64
conference_losses                 float64
conference_win_loss_percentage    float64
own_points_per_game               float64
opp_points_per_game               float64
strength_of_schedule              float64
simple_rating_system              float64
ap_pre                            float64
ap_high                           float64
ap_final                          float64
conference_tournament_champion       bool
poy                                 int64
points                              int64
points per game                     int64
rebounds                            int64
rebounds per game                   int64
steals                              int64
steals per game                     int64
assists                             int64
assists per game                    int64
blocks                              int64
blocks per game                     int64
dtype: object

In [182]:
cols = ['champion', 'rank', 'overall_wins', 'overall_losses', 'conference_wins', 'conference_losses', 'ap_pre', 'ap_high', 'ap_final']
final[cols] = final[cols].astype(int)

In [183]:
final.dtypes

seed                                int64
school                             object
year                                int64
champion                            int64
conference                         object
rank                                int64
overall_wins                        int64
overall_losses                      int64
overall_win_loss_percentage       float64
conference_wins                     int64
conference_losses                   int64
conference_win_loss_percentage    float64
own_points_per_game               float64
opp_points_per_game               float64
strength_of_schedule              float64
simple_rating_system              float64
ap_pre                              int64
ap_high                             int64
ap_final                            int64
conference_tournament_champion       bool
poy                                 int64
points                              int64
points per game                     int64
rebounds                            int64
rebounds per game                   int64
steals                              int64
steals per game                     int64
assists                             int64
assists per game                    int64
blocks                              int64
blocks per game                     int64
dtype: object

In [184]:
final.head()

,seed,school,year,champion,conference,rank,overall_wins,overall_losses,overall_win_loss_percentage,conference_wins,...,points,points per game,rebounds,rebounds per game,steals,steals per game,assists,assists per game,blocks,blocks per game
0,1,Georgetown,1985,0,Big East,2,35,3,0.921,14,...,0,0,0,0,0,0,0,0,1,0
1,16,Lehigh,1985,0,ECC,6,12,19,0.387,6,...,0,0,0,0,0,0,0,0,0,0
2,8,Temple,1985,0,A-10,2,25,6,0.806,15,...,0,0,0,0,0,0,0,0,0,0
3,9,Virginia Tech,1985,0,Metro,2,20,9,0.690,10,...,0,0,0,0,0,0,0,0,0,0
4,5,SMU,1985,0,SWC,2,23,10,0.697,10,...,0,0,0,0,0,0,0,0,0,0

In [185]:
final.to_csv('stage_data/prepped.csv', sep=',', index=False, encoding='utf-8')